**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [7]:
# Dependencies
import pandas as pd

In [18]:
# load CSV
new_coders='2016-FCC-New-Coders-Survey-Data.csv'

In [19]:
# Read with pandas
# low_memory to get rid of error about mixed data type in some colums 
new_coders = pd.read_csv(new_coders, encoding = 'iso-8859-1', low_memory=False)
new_coders.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CodeEventCoffee,CodeEventConferences,CodeEventDjangoGirls,CodeEventGameJam,CodeEventGirlDev,CodeEventHackathons,CodeEventMeetup,CodeEventNodeSchool,CodeEventNone,CodeEventOther,CodeEventRailsBridge,CodeEventRailsGirls,CodeEventStartUpWknd,CodeEventWomenCode,CodeEventWorkshop,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,EmploymentStatusOther,ExpectedEarning,FinanciallySupporting,Gender,HasChildren,HasDebt,HasFinancialDependents,HasHighSpdInternet,HasHomeMortgage,HasServedInMilitary,HasStudentDebt,HomeMortgageOwe,HoursLearning,ID.x,ID.y,Income,IsEthnicMinority,IsReceiveDiabilitiesBenefits,IsSoftwareDev,IsUnderEmployed,JobApplyWhen,JobPref,JobRelocateYesNo,JobRoleInterest,JobRoleInterestOther,JobWherePref,LanguageAtHome,MaritalStatus,MoneyForLearning,MonthsProgramming,NetworkID,Part1EndTime,Part1StartTime,Part2EndTime,Part2StartTime,PodcastChangeLog,PodcastCodeNewbie,PodcastCodingBlocks,PodcastDeveloperTea,PodcastDotNetRocks,PodcastHanselminutes,PodcastJSJabber,PodcastJsAir,PodcastNone,PodcastOther,PodcastProgrammingThrowDown,PodcastRubyRogues,PodcastSEDaily,PodcastShopTalk,PodcastTalkPython,PodcastWebAhead,ResourceBlogs,ResourceBooks,ResourceCodeWars,ResourceCodecademy,ResourceCoursera,ResourceDevTips,ResourceEdX,ResourceEggHead,ResourceFCC,ResourceGoogle,ResourceHackerRank,ResourceKhanAcademy,ResourceLynda,ResourceMDN,ResourceOdinProj,ResourceOther,ResourcePluralSight,ResourceReddit,ResourceSkillCrush,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,United States of America,United States of America,office and administrative support,NaN,Employed for wages,NaN,NaN,0.0,male,0.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN,30.0,cef35615d61b202f1dc794ef2746df14,48fd66e15301df9727e13e6e80aef941,32000.0,0.0,0.0,0.0,1.0,NaN,freelance,NaN,NaN,NaN,NaN,English,married or domestic partnership,0.0,1.0,2c6f0af42c,2016-03-29 21:24:53,2016-03-29 21:23:13,2016-03-29 21:27:25,2016-03-29 21:24:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,United States of America,United States of America,food and beverage,NaN,Employed for wages,NaN,50000.0,NaN,male,NaN,0.0,0.0,1.0,NaN,0.0,NaN,NaN,30.0,323e5a113644d18185c743c241407754,a8cd67193184084b1e32b362225bf280,15000.0,0.0,0.0,0.0,1.0,Within the next 6 months,work for a startup,1.0,Front-End Web Developer,NaN,in an office with other developers,English,NaN,20.0,2.0,d048ac774d,2016-03-29 21:27:09,2016-03-29 21:24:59,2016-03-29 21:29:10,2016-03-29 21:27:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Front-end happy hour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,United States of America,United States of America,finance,NaN,Employed for wages,NaN,NaN,NaN,male,NaN,0.0,0.0,1.0,NaN,0.0,NaN,NaN,20.0,b29a1027e5cd062e654a63764157461d,129b4479808fe006e768502b957a0c52,48000.0,0.0,0.0,0.0,0.0,NaN,start your own business,NaN,NaN,NaN,NaN,English,NaN,50.0,24.0,241513bbbe,2016-03-29 21:27:11,2016-03-29 21:25:37,2016-03-29 21:28:21,2016-03-29 21:27:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,45.0,United States of America,United States of America,"arts, entertainment, sports, or media",NaN,Employed for wages,NaN,65000.0,NaN,female,NaN,1.0,0.0,1.0,0.0,0.0,1.0,NaN,20.0,04a11e4bcb573a1261eb0d9948d32637,7313b696ac8f0517a3d0ec7725039bb2,43000.0,0.0,0.0,0.0,1.0,Within the next 6 months,work for a startup,NaN,Front-End Web Developer,NaN,from home,English,NaN,100.0,3.0,809298e033,2016-03-29 21:28:47,2016-03-29 21:21:37,2016-03-29 21:30:51,2016-03-29 21:28:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,United States of America,United States of America,education,NaN,Employed for wages,NaN,45000.0,NaN,female,NaN,1.0,0.0,1.0,0.0,0.0,0.0,NaN,25.0,9368291c93d5d5f5c8cdb1a575e18bec,d0f75544984896ccfd361af6d9b26047,6000.0,1.0,0.0,0.0,1.0,Within the next 6 months,work for a medium-sized company,1.0,Full-Stack Web Developer,NaN,in an office with other developers,Khmer,NaN,1300.0,48.0,cdc466b1ee,2016-03-29 21:29:27,2016-03-29 21:26:22,2016-03-29 21:31:54,2016-03-29 21:29:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [11]:
# Inspect all columns
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
new_coders.dtypes

Age                             float64
AttendedBootcamp                float64
BootcampFinish                  float64
BootcampFullJobAfter            float64
BootcampLoanYesNo               float64
BootcampMonthsAgo               float64
BootcampName                     object
BootcampPostSalary              float64
BootcampRecommend               float64
ChildrenNumber                  float64
CityPopulation                   object
CodeEventBootcamp               float64
CodeEventCoffee                 float64
CodeEventConferences            float64
CodeEventDjangoGirls            float64
CodeEventGameJam                float64
CodeEventGirlDev                float64
CodeEventHackathons             float64
CodeEventMeetup                 float64
CodeEventNodeSchool             float64
CodeEventNone                   float64
CodeEventOther                   object
CodeEventRailsBridge            float64
CodeEventRailsGirls             float64
CodeEventStartUpWknd            float64
CodeEventWomenCode              float64
CodeEventWorkshop               float64
CommuteTime                     float64
CountryCitizen                   object
CountryLive                      object
EmploymentField                  object
EmploymentFieldOther             object
EmploymentStatus                 object
EmploymentStatusOther            object
ExpectedEarning                 float64
FinanciallySupporting           float64
Gender                           object
HasChildren                     float64
HasDebt                         float64
HasFinancialDependents          float64
HasHighSpdInternet              float64
HasHomeMortgage                 float64
HasServedInMilitary             float64
HasStudentDebt                  float64
HomeMortgageOwe                 float64
HoursLearning                   float64
ID.x                             object
ID.y                             object
Income                          float64
IsEthnicMinority                float64
IsReceiveDiabilitiesBenefits    float64
IsSoftwareDev                   float64
IsUnderEmployed                 float64
JobApplyWhen                     object
JobPref                          object
JobRelocateYesNo                float64
JobRoleInterest                  object
JobRoleInterestOther             object
JobWherePref                     object
LanguageAtHome                   object
MaritalStatus                    object
MoneyForLearning                float64
MonthsProgramming               float64
NetworkID                        object
Part1EndTime                     object
Part1StartTime                   object
Part2EndTime                     object
Part2StartTime                   object
PodcastChangeLog                float64
PodcastCodeNewbie               float64
PodcastCodingBlocks             float64
PodcastDeveloperTea             float64
PodcastDotNetRocks              float64
PodcastHanselminutes            float64
PodcastJSJabber                 float64
PodcastJsAir                    float64
PodcastNone                     float64
PodcastOther                     object
PodcastProgrammingThrowDown     float64
PodcastRubyRogues               float64
PodcastSEDaily                  float64
PodcastShopTalk                 float64
PodcastTalkPython               float64
PodcastWebAhead                 float64
ResourceBlogs                   float64
ResourceBooks                   float64
ResourceCodeWars                float64
ResourceCodecademy              float64
ResourceCoursera                float64
ResourceDevTips                 float64
ResourceEdX                     float64
ResourceEggHead                 float64
ResourceFCC                     float64
ResourceGoogle                  float64
ResourceHackerRank              float64
ResourceKhanAcademy             float64
ResourceLynda                   float64
ResourceMDN                     float64
ResourceOdinProj                float64
ResourceOther                    object
ResourcePluralSight             float64
ResourceReddit                  float64
ResourceSkillCrush              float64
ResourceSoloLearn               float64
ResourceStackOverflow           float64
ResourceTreehouse               float64
ResourceUdacity                 float64
ResourceUdemy                   float64
ResourceW3Schools               float64
ResourceYouTube                 float64
SchoolDegree                     object
SchoolMajor                      object
StudentDebtOwe                  float64
dtype: object

In [20]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
reduced_coders_pd=new_coders.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

In [23]:
# Change "0" to "No" and "1" to "Yes" in response columns
reduced_coders_pd= reduced_coders_pd.replace({0.0: "No", 1.0: "Yes"})
reduced_coders_pd.head()

    Age AttendedBootcamp BootcampFinish BootcampFullJobAfter BootcampLoanYesNo  BootcampPostSalary BootcampRecommend ChildrenNumber                 CityPopulation CodeEventBootcamp               CountryLive                        EmploymentField    EmploymentStatus  Gender HasChildren HoursLearning   Income            JobRoleInterest                             SchoolDegree              SchoolMajor
0  28.0               No            NaN                  NaN               NaN                 NaN               NaN            NaN  between 100,000 and 1 million               NaN  United States of America      office and administrative support  Employed for wages    male          No            30  32000.0                        NaN           some college credit, no degree                      NaN
1  22.0               No            NaN                  NaN               NaN                 NaN               NaN            NaN  between 100,000 and 1 million               NaN  United States of America                      food and beverage  Employed for wages    male         NaN            30  15000.0    Front-End Web Developer           some college credit, no degree                      NaN
2  19.0               No            NaN                  NaN               NaN                 NaN               NaN            NaN            more than 1 million               NaN  United States of America                                finance  Employed for wages    male         NaN            20  48000.0                        NaN  high school diploma or equivalent (GED)                      NaN
3  26.0               No            NaN                  NaN               NaN                 NaN               NaN            NaN            more than 1 million               NaN  United States of America  arts, entertainment, sports, or media  Employed for wages  female         NaN            20  43000.0    Front-End Web Developer                        bachelor's degree  Cinematography And Film
4  20.0               No            NaN                  NaN               NaN                 NaN               NaN            NaN  between 100,000 and 1 million               NaN  United States of America                              education  Employed for wages  female         NaN            25   6000.0   Full-Stack Web Developer           some college credit, no degree                      NaN

In [24]:
# Calculate total number of respondents in survey
total_surveyed = len(reduced_coders_pd)
total_surveyed

15620

In [25]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = reduced_coders_pd.loc[reduced_coders_pd["AttendedBootcamp"] == "Yes"]
attended_bootcamp.count()

Age                     818
AttendedBootcamp        953
BootcampFinish          933
BootcampFullJobAfter    635
BootcampLoanYesNo       934
BootcampPostSalary      330
BootcampRecommend       937
ChildrenNumber          148
CityPopulation          823
CodeEventBootcamp        27
CountryLive             825
EmploymentField         476
EmploymentStatus        792
Gender                  833
HasChildren             211
HoursLearning           925
Income                  430
JobRoleInterest         402
SchoolDegree            832
SchoolMajor             622
dtype: int64

In [28]:
# Calculate average age of attendees
average_age = attended_bootcamp["Age"].mean()
average_age

31.066014669926652

In [29]:
# Calculate how many people attended a bootcamp
amount_attended = attended_bootcamp["AttendedBootcamp"].count()
amount_attended

953

In [50]:
# Calculate how many attendees hold degrees
attended_bootcamp.SchoolDegree.unique()
degree_list=["bachelor's degree", "master's degree (non-professional)",'professional degree (MBA, MD, JD, etc.)',
             "associate's degree",'Ph.D.']

holds_degree = attended_bootcamp.loc[attended_bootcamp.SchoolDegree.isin(degree_list),:].shape[0]
holds_degree

637

In [32]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_bootcamp["Gender"].count()
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
non_gender_specific = total_gender - male - female
non_gender_specific

11

In [33]:
# Calculate percentage of respondents who attended a bootcamp
percent_attended = amount_attended / total_surveyed*100
percent_attended

6.101152368758003

In [34]:
# Calculate percentage of respondents belonging to each gender
male_percent = (male/total_gender)*100
female_percent = (female/total_gender)*100
non_gender_specific_percent = (non_gender_specific/total_gender)*100
non_gender_specific_percent

1.3205282112845138

In [51]:
# Calculate percentage of attendees with a school degree
degree_percentage = (holds_degree/amount_attended)*100
degree_percentage

66.84155299055614

In [42]:
# Calculate average post-bootcamp salary
avg_salary=attended_bootcamp.BootcampPostSalary.mean()
avg_salary

63740.50606060606

In [52]:
# Create a new table consolodating above calculations
bootcamp_breakdown = pd.DataFrame({"Total Surveyed": [total_surveyed],
                                 "Total Bootcamp attendees": [amount_attended],
                                   "% attended bootcamp": [percent_attended],
                                 "Avg. Age":[average_age],
                                   "Has a degree":[degree_percentage],
                                 "% Male":[male_percent],
                                 "% Female":[female_percent],
                                 "% Non Gender Specific":[non_gender_specific_percent],
                                   "Average Post Bootcamp Salary":[avg_salary]
})
#bootcamp_breakdown = bootcamp_breakdown[{"Total Surveyed", "Total Bootcamp attendees", "% attended bootcamp", "Avg. Age"}]
bootcamp_breakdown = bootcamp_breakdown.round(2)

bootcamp_breakdown

   Total Surveyed  Total Bootcamp attendees  % attended bootcamp  Avg. Age  Has a degree  % Male  % Female  % Non Gender Specific  Average Post Bootcamp Salary
0           15620                       953                  6.1     31.07         66.84   59.54     39.14                   1.32                      63740.51

In [53]:
# Improve formatting before outputting spreadsheet
bootcamp_breakdown["% Male"] =bootcamp_breakdown["% Male"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Female"] =bootcamp_breakdown["% Female"].map("{0:,.2f}%".format)
bootcamp_breakdown["% attended bootcamp"] =bootcamp_breakdown["% attended bootcamp"].map("{0:,.2f}%".format)
bootcamp_breakdown["% Non Gender Specific"] =bootcamp_breakdown["% Non Gender Specific"].map("{0:,.2f}%".format)
bootcamp_breakdown["Has a degree"] = bootcamp_breakdown["Has a degree"].map("{0:,.2f}%".format)
bootcamp_breakdown["Average Post Bootcamp Salary"] = bootcamp_breakdown["Average Post Bootcamp Salary"].map("${0:,.0f}".format)
bootcamp_breakdown

   Total Surveyed  Total Bootcamp attendees % attended bootcamp  Avg. Age Has a degree  % Male % Female % Non Gender Specific Average Post Bootcamp Salary
0           15620                       953               6.10%     31.07       66.84%  59.54%   39.14%                 1.32%                      $63,741

In [55]:
# Export to Excel
bootcamp_breakdown.to_excel("Bootcamppart1.xlsx", index=False)